<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <link rel="stylesheet" href="https://code.highcharts.com/css/highcharts.css">
  <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<div id="container-temp"></div>
<div id="container-humi"></div>
<div id="container-qfe"></div>
<script>
  Highcharts.chart("container-temp", %CHART_DATA_TEMP%);
  Highcharts.chart("container-humi", %CHART_DATA_HUMI%);
  Highcharts.chart("container-qfe", %CHART_DATA_QFE%);
</script>
</body>
</html>
